<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>


<h2>New book</h2>
<%= form_with model: @book, url: books_path, method: :post do |f| %>
<p>title</p>
<%= f.text_field :title %>
<p>body</p>
<%= f.text_area :body %><br>
<%=f.submit 'Create Book' %>
<% end %>
