<div class="show-box">
  <p class="show-text">
    <b>Title:</b><%= @book.title %>
  </p>

  <p class="show-text">
    <b>Body:</b><%= @book.body %>
  </p>
</div>

<div class="link-box">
  <%= link_to "Edit", edit_book_path(@book.id), class: "btn" %> | <%= link_to "Back", books_path, class: "btn" %>
</div>
