<div class="heading">
  <h1>ようこそ Bookers へ！</h1>
</div>

<div class="top-content">
  <p class="top-text">
    <b>Bookers</b> では、さまざまな書籍に関するあなたの意見や<br>
    <br>
    印象を共有し交換することができます
  </p>
  <div class="link">
    <%= link_to "start", books_path, class: "btn link-btn" %>
  </div>

</div>

